<p id="notice"><%= notice %></p>

<h1>Users</h1>
<br>

<ul>
  <% @users.each do |u| %>
    <li><%= link_to u.name, user_path(u) %></li>
  <% end %>
</ul>

<%= link_to 'New User', new_user_path %> |
<%= link_to 'Back', root_path %>
